In [15]:
import pandas as pd

In [16]:
movies =  pd.read_csv("http://bit.ly/imdbratings")

In [17]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [24]:
movies[(movies.duration>=200) & (movies.genre=='Drama')][['content_rating', 'star_rating']]

    content_rating  star_rating
17         UNRATED          8.7
157              G          8.2
476          PG-13          7.8

In [19]:
True or False

True

In [25]:
movies.genre.unique()

array(['Crime', 'Action', 'Drama', 'Western', 'Adventure', 'Biography',
       'Comedy', 'Animation', 'Mystery', 'Horror', 'Film-Noir', 'Sci-Fi',
       'History', 'Thriller', 'Family', 'Fantasy'], dtype=object)

In [26]:
movies[(movies.genre=='Crime')|(movies.genre=='Action')|(movies.genre=='Drama')]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
19,8.7,Star Wars,PG,Action,121,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
20,8.7,The Matrix,R,Action,136,"[u'Keanu Reeves', u'Laurence Fishburne', u'Car..."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
23,8.7,The Usual Suspects,R,Crime,106,"[u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa..."
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
27,8.6,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'Anthony Hopkins', u'Lawren..."
28,8.6,Leon: The Professional,R,Crime,110,"[u'Jean Reno', u'Gary Oldman', u'Natalie Portm..."
32,8.6,Casablanca,PG,Drama,102,"[u'Humphrey Bogart', u'Ingrid Bergman', u'Paul..."
33,8.6,Whiplash,R,Drama,107,"[u'Miles Teller', u'J.K. Simmons', u'Melissa B..."
34,8.6,American History X,R,Crime,119,"[u'Edward Norton', u'Edward Furlong', u""Beverl..."
36,8.6,Saving Private Ryan,R,Action,169,"[u'Tom Hanks', u'Matt Damon', u'Tom Sizemore']"
37,8.6,Raiders of the Lost Ark,PG,Action,115,"[u'Harrison Ford', u'Karen Allen', u'Paul Free..."
40,8.5,The Green Mile,R,Crime,189,"[u'Tom Hanks', u'Michael Clarke Duncan', u'Dav..."
41,8.5,Sunset Blvd.,NOT RATED,Drama,110,"[u'William Holden', u'Gloria Swanson', u'Erich..."
43,8.5,The Dark Knight Rises,PG-13,Action,165,"[u'Christian Bale', u'Tom Hardy', u'Anne Hatha..."
44,8.5,Gladiator,R,Action,155,"[u'Russell Crowe', u'Joaquin Phoenix', u'Conni..."
45,8.5,Terminator 2: Judgment Day,R,Action,137,"[u'Arnold Schwarzenegger', u'Linda Hamilton', ..."
...,...,...,...,...,...,...
916,7.5,Up in the Air,R,Drama,109,"[u'George Clooney', u'Vera Farmiga', u'Anna Ke..."
917,7.5,Begin Again,R,Drama,104,"[u'Keira Knightley', u'Mark Ruffalo', u'Adam L..."
918,7.5,Running Scared,R,Action,122,"[u'Paul Walker', u'Cameron Bright', u'Chazz Pa..."
920,7.5,Witness,R,Crime,112,"[u'Harrison Ford', u'Kelly McGillis', u'Lukas ..."
922,7.5,Mud,PG-13,Drama,130,"[u'Matthew McConaughey', u'Tye Sheridan', u'Ja..."
923,7.5,Across the Universe,PG-13,Drama,133,"[u'Evan Rachel Wood', u'Jim Sturgess', u'Joe A..."
924,7.5,Les Miserables,PG-13,Crime,134,"[u'Liam Neeson', u'Geoffrey Rush', u'Uma Thurm..."
925,7.5,Notes on a Scandal,R,Drama,92,"[u'Cate Blanchett', u'Judi Dench', u'Andrew Si..."
926,7.5,Inside Llewyn Davis,R,Drama,104,"[u'Oscar Isaac', u'Carey Mulligan', u'John Goo..."
927,7.5,Brick,R,Crime,110,"[u'Joseph Gordon-Levitt', u'Lukas Haas', u'Emi..."
931,7.4,Mean Streets,R,Crime,112,"[u'Robert De Niro', u'Harvey Keitel', u'David ..."
939,7.4,Predestination,R,Drama,97,"[u'Ethan Hawke', u'Sarah Snook', u'Noah Taylor']"
941,7.4,A Bridge Too Far,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca..."
945,7.4,Take Shelter,R,Drama,120,"[u'Michael Shannon', u'Jessica Chastain', u'Sh..."
946,7.4,Far from Heaven,PG-13,Drama,107,"[u'Julianne Moore', u'Dennis Quaid', u'Dennis ..."
947,7.4,Eraserhead,UNRATED,Drama,89,"[u'Jack Nance', u'Charlotte Stewart', u'Allen ..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
951,7.4,Sleepy Hollow,R,Drama,105,"[u'Johnny Depp', u'Christina Ricci', u'Miranda..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
958,7.4,My Sister's Keeper,PG-13,Drama,109,"[u'Cameron Diaz', u'Abigail Breslin', u'Alec B..."
963,7.4,La Femme Nikita,R,Action,118,"[u'Anne Parillaud', u'Marc Duret', u'Patrick F..."
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']"
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [28]:
movies[movies.genre.isin(['Crime','Action','Drama'])]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
19,8.7,Star Wars,PG,Action,121,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
20,8.7,The Matrix,R,Action,136,"[u'Keanu Reeves', u'Laurence Fishburne', u'Car..."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
23,8.7,The Usual Suspects,R,Crime,106,"[u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa..."
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
27,8.6,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'Anthony Hopkins', u'Lawren..."
28,8.6,Leon: The Professional,R,Crime,110,"[u'Jean Reno', u'Gary Oldman', u'Natalie Portm..."
32,8.6,Casablanca,PG,Drama,102,"[u'Humphrey Bogart', u'Ingrid Bergman', u'Paul..."
33,8.6,Whiplash,R,Drama,107,"[u'Miles Teller', u'J.K. Simmons', u'Melissa B..."
34,8.6,American History X,R,Crime,119,"[u'Edward Norton', u'Edward Furlong', u""Beverl..."
36,8.6,Saving Private Ryan,R,Action,169,"[u'Tom Hanks', u'Matt Damon', u'Tom Sizemore']"
37,8.6,Raiders of the Lost Ark,PG,Action,115,"[u'Harrison Ford', u'Karen Allen', u'Paul Free..."
40,8.5,The Green Mile,R,Crime,189,"[u'Tom Hanks', u'Michael Clarke Duncan', u'Dav..."
41,8.5,Sunset Blvd.,NOT RATED,Drama,110,"[u'William Holden', u'Gloria Swanson', u'Erich..."
43,8.5,The Dark Knight Rises,PG-13,Action,165,"[u'Christian Bale', u'Tom Hardy', u'Anne Hatha..."
44,8.5,Gladiator,R,Action,155,"[u'Russell Crowe', u'Joaquin Phoenix', u'Conni..."
45,8.5,Terminator 2: Judgment Day,R,Action,137,"[u'Arnold Schwarzenegger', u'Linda Hamilton', ..."
...,...,...,...,...,...,...
916,7.5,Up in the Air,R,Drama,109,"[u'George Clooney', u'Vera Farmiga', u'Anna Ke..."
917,7.5,Begin Again,R,Drama,104,"[u'Keira Knightley', u'Mark Ruffalo', u'Adam L..."
918,7.5,Running Scared,R,Action,122,"[u'Paul Walker', u'Cameron Bright', u'Chazz Pa..."
920,7.5,Witness,R,Crime,112,"[u'Harrison Ford', u'Kelly McGillis', u'Lukas ..."
922,7.5,Mud,PG-13,Drama,130,"[u'Matthew McConaughey', u'Tye Sheridan', u'Ja..."
923,7.5,Across the Universe,PG-13,Drama,133,"[u'Evan Rachel Wood', u'Jim Sturgess', u'Joe A..."
924,7.5,Les Miserables,PG-13,Crime,134,"[u'Liam Neeson', u'Geoffrey Rush', u'Uma Thurm..."
925,7.5,Notes on a Scandal,R,Drama,92,"[u'Cate Blanchett', u'Judi Dench', u'Andrew Si..."
926,7.5,Inside Llewyn Davis,R,Drama,104,"[u'Oscar Isaac', u'Carey Mulligan', u'John Goo..."
927,7.5,Brick,R,Crime,110,"[u'Joseph Gordon-Levitt', u'Lukas Haas', u'Emi..."
931,7.4,Mean Streets,R,Crime,112,"[u'Robert De Niro', u'Harvey Keitel', u'David ..."
939,7.4,Predestination,R,Drama,97,"[u'Ethan Hawke', u'Sarah Snook', u'Noah Taylor']"
941,7.4,A Bridge Too Far,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca..."
945,7.4,Take Shelter,R,Drama,120,"[u'Michael Shannon', u'Jessica Chastain', u'Sh..."
946,7.4,Far from Heaven,PG-13,Drama,107,"[u'Julianne Moore', u'Dennis Quaid', u'Dennis ..."
947,7.4,Eraserhead,UNRATED,Drama,89,"[u'Jack Nance', u'Charlotte Stewart', u'Allen ..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
951,7.4,Sleepy Hollow,R,Drama,105,"[u'Johnny Depp', u'Christina Ricci', u'Miranda..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
958,7.4,My Sister's Keeper,PG-13,Drama,109,"[u'Cameron Diaz', u'Abigail Breslin', u'Alec B..."
963,7.4,La Femme Nikita,R,Action,118,"[u'Anne Parillaud', u'Marc Duret', u'Patrick F..."
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']"
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [29]:
ufo=pd.read_csv('http://bit.ly/uforeports')
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [35]:
ufo.loc[0:10,'City': 'State']

                    City Colors Reported Shape Reported State
0                 Ithaca             NaN       TRIANGLE    NY
1            Willingboro             NaN          OTHER    NJ
2                Holyoke             NaN           OVAL    CO
3                Abilene             NaN           DISK    KS
4   New York Worlds Fair             NaN          LIGHT    NY
5            Valley City             NaN           DISK    ND
6            Crater Lake             NaN         CIRCLE    CA
7                   Alma             NaN           DISK    MI
8                Eklutna             NaN          CIGAR    AK
9                Hubbard             NaN       CYLINDER    OR
10               Fontana             NaN          LIGHT    CA

In [37]:
ufo.head(6).drop('Time', axis=1)

                   City Colors Reported Shape Reported State
0                Ithaca             NaN       TRIANGLE    NY
1           Willingboro             NaN          OTHER    NJ
2               Holyoke             NaN           OVAL    CO
3               Abilene             NaN           DISK    KS
4  New York Worlds Fair             NaN          LIGHT    NY
5           Valley City             NaN           DISK    ND

In [41]:
ufo.loc[ufo.City=='Oakland', ['State', 'Shape Reported']]

      State Shape Reported
1694     CA          CIGAR
2144     CA           DISK
4686     MD          LIGHT
7293     CA          LIGHT
8488     CA            NaN
8768     CA            NaN
10816    OR          LIGHT
10948    CA           DISK
11045    CA       TRIANGLE
12322    CA       FIREBALL
12941    CA       CYLINDER
16803    MD       TRIANGLE
17322    CA       CYLINDER

In [46]:
ufo.reset_index(inplace=True)

In [47]:
ufo.set_index(['City','State'])

                            level_0  index Colors Reported Shape Reported  \
City                 State
Ithaca               NY           0      0             NaN       TRIANGLE
Willingboro          NJ           1      1             NaN          OTHER
Holyoke              CO           2      2             NaN           OVAL
Abilene              KS           3      3             NaN           DISK
New York Worlds Fair NY           4      4             NaN          LIGHT
Valley City          ND           5      5             NaN           DISK
Crater Lake          CA           6      6             NaN         CIRCLE
Alma                 MI           7      7             NaN           DISK
Eklutna              AK           8      8             NaN          CIGAR
Hubbard              OR           9      9             NaN       CYLINDER
Fontana              CA          10     10             NaN          LIGHT
Waterloo             AL          11     11             NaN       FIREBALL
Belton               SC          12     12             RED         SPHERE
Keokuk               IA          13     13             NaN           OVAL
Ludington            MI          14     14             NaN           DISK
Forest Home          CA          15     15             NaN         CIRCLE
Los Angeles          CA          16     16             NaN            NaN
Hapeville            GA          17     17             NaN            NaN
Oneida               TN          18     18             NaN      RECTANGLE
Bering Sea           AK          19     19             RED          OTHER
Nebraska             NE          20     20             NaN           DISK
NaN                  LA          21     21             NaN            NaN
                     LA          22     22             NaN          LIGHT
Owensboro            KY          23     23             NaN      RECTANGLE
Wilderness           WV          24     24             NaN           DISK
San Diego            CA          25     25             NaN          CIGAR
Wilderness           WV          26     26             NaN           DISK
Clovis               NM          27     27             NaN           DISK
Los Alamos           NM          28     28             NaN           DISK
Ft. Duschene         UT          29     29             NaN           DISK
...                             ...    ...             ...            ...
Holyoke              MA       18211  18211             NaN        DIAMOND
Carson               CA       18212  18212             NaN           DISK
Pasadena             CA       18213  18213           GREEN       FIREBALL
Austin               TX       18214  18214             NaN      FORMATION
El Campo             TX       18215  18215             NaN          OTHER
Garden Grove         CA       18216  18216          ORANGE          LIGHT
Berthoud Pass        CO       18217  18217             NaN       TRIANGLE
Sisterdale           TX       18218  18218             NaN        DIAMOND
Garden Grove         CA       18219  18219             NaN        CHEVRON
Shasta Lake          CA       18220  18220            BLUE           DISK
Franklin             NH       18221  18221             NaN           DISK
Albrightsville       PA       18222  18222             NaN          OTHER
Greenville           SC       18223  18223             NaN            NaN
Eufaula              OK       18224  18224             NaN           DISK
Simi Valley          CA       18225  18225             NaN      FORMATION
San Francisco        CA       18226  18226             NaN      FORMATION
                     CA       18227  18227             NaN       TRIANGLE
Kingsville           TX       18228  18228             NaN          LIGHT
Chicago              IL       18229  18229             NaN           DISK
Pismo Beach          CA       18230  18230             NaN           OVAL
                     CA       18231  18231             NaN           OVAL
Lodi                 WI       18232  18232             NaN            NaN
Anchorage            AK       18233  18233             RED        VARIOUS
Capitola             CA       18234  18234             NaN       TRIANGLE
Fountain Hills       AZ       18235  18235             NaN            NaN
Grant Park           IL       18236  18236             NaN       TRIANGLE
Spirit Lake          IA       18237  18237             NaN           DISK
Eagle River          WI       18238  18238             NaN            NaN
                     WI       18239  18239             RED          LIGHT
Ybor                 FL       18240  18240             NaN           OVAL

                                        Time
City                 State
Ithaca               NY       6/1/1930 22:00
Willingboro          NJ      6/30/1930 20:00
Holyoke              CO      2/15/1931 14:00
Abilene              KS       6/1/1931 13:00
New York Worlds Fair NY      4/18/1933 19:00
Valley City          ND      9/15/1934 15:30
Crater Lake          CA       6/15/1935 0:00
Alma                 MI       7/15/1936 0:00
Eklutna              AK     10/15/1936 17:00
Hubbard              OR       6/15/1937 0:00
Fontana              CA      8/15/1937 21:00
Waterloo             AL       6/1/1939 20:00
Belton               SC      6/30/1939 20:00
Keokuk               IA        7/7/1939 2:00
Ludington            MI       6/1/1941 13:00
Forest Home          CA       7/2/1941 11:30
Los Angeles          CA       2/25/1942 0:00
Hapeville            GA       6/1/1942 22:30
Oneida               TN       7/15/1942 1:00
Bering Sea           AK      4/30/1943 23:00
Nebraska             NE       6/1/1943 15:00
NaN                  LA       8/15/1943 0:00
                     LA       8/15/1943 0:00
Owensboro            KY     10/15/1943 11:00
Wilderness           WV       1/1/1944 10:00
San Diego            CA       1/1/1944 12:00
Wilderness           WV       1/1/1944 12:00
Clovis               NM       4/2/1944 11:00
Los Alamos           NM       6/1/1944 12:00
Ft. Duschene         UT      6/30/1944 10:00
...                                      ...
Holyoke              MA     12/28/2000 18:00
Carson               CA     12/28/2000 18:20
Pasadena             CA     12/28/2000 19:10
Austin               TX      12/29/2000 0:00
El Campo             TX      12/29/2000 9:00
Garden Grove         CA     12/29/2000 16:10
Berthoud Pass        CO     12/29/2000 19:30
Sisterdale           TX     12/29/2000 20:00
Garden Grove         CA     12/29/2000 20:30
Shasta Lake          CA     12/29/2000 20:30
Franklin             NH     12/29/2000 20:50
Albrightsville       PA     12/29/2000 21:00
Greenville           SC     12/29/2000 22:00
Eufaula              OK     12/29/2000 23:30
Simi Valley          CA     12/30/2000 10:00
San Francisco        CA     12/30/2000 22:00
                     CA     12/30/2000 22:00
Kingsville           TX      12/31/2000 4:00
Chicago              IL     12/31/2000 11:45
Pismo Beach          CA     12/31/2000 20:00
                     CA     12/31/2000 20:00
Lodi                 WI     12/31/2000 20:30
Anchorage            AK     12/31/2000 21:00
Capitola             CA     12/31/2000 22:00
Fountain Hills       AZ     12/31/2000 23:00
Grant Park           IL     12/31/2000 23:00
Spirit Lake          IA     12/31/2000 23:00
Eagle River          WI     12/31/2000 23:45
                     WI     12/31/2000 23:45
Ybor                 FL     12/31/2000 23:59

[18241 rows x 5 columns]

,index,City,Colors Reported,Shape Reported,State,Time
0,0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
5,5,Valley City,NaN,DISK,ND,9/15/1934 15:30
6,6,Crater Lake,NaN,CIRCLE,CA,6/15/1935 0:00
7,7,Alma,NaN,DISK,MI,7/15/1936 0:00
8,8,Eklutna,NaN,CIGAR,AK,10/15/1936 17:00
9,9,Hubbard,NaN,CYLINDER,OR,6/15/1937 0:00
10,10,Fontana,NaN,LIGHT,CA,8/15/1937 21:00
11,11,Waterloo,NaN,FIREBALL,AL,6/1/1939 20:00
12,12,Belton,RED,SPHERE,SC,6/30/1939 20:00
13,13,Keokuk,NaN,OVAL,IA,7/7/1939 2:00
14,14,Ludington,NaN,DISK,MI,6/1/1941 13:00
15,15,Forest Home,NaN,CIRCLE,CA,7/2/1941 11:30
16,16,Los Angeles,NaN,NaN,CA,2/25/1942 0:00
17,17,Hapeville,NaN,NaN,GA,6/1/1942 22:30
18,18,Oneida,NaN,RECTANGLE,TN,7/15/1942 1:00
19,19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
20,20,Nebraska,NaN,DISK,NE,6/1/1943 15:00
21,21,NaN,NaN,NaN,LA,8/15/1943 0:00
22,22,NaN,NaN,LIGHT,LA,8/15/1943 0:00
23,23,Owensboro,NaN,RECTANGLE,KY,10/15/1943 11:00
24,24,Wilderness,NaN,DISK,WV,1/1/1944 10:00
25,25,San Diego,NaN,CIGAR,CA,1/1/1944 12:00
26,26,Wilderness,NaN,DISK,WV,1/1/1944 12:00
27,27,Clovis,NaN,DISK,NM,4/2/1944 11:00
28,28,Los Alamos,NaN,DISK,NM,6/1/1944 12:00
29,29,Ft. Duschene,NaN,DISK,UT,6/30/1944 10:00
...,...,...,...,...,...,...
18211,18211,Holyoke,NaN,DIAMOND,MA,12/28/2000 18:00
18212,18212,Carson,NaN,DISK,CA,12/28/2000 18:20
18213,18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18214,18214,Austin,NaN,FORMATION,TX,12/29/2000 0:00
18215,18215,El Campo,NaN,OTHER,TX,12/29/2000 9:00
18216,18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18217,18217,Berthoud Pass,NaN,TRIANGLE,CO,12/29/2000 19:30
18218,18218,Sisterdale,NaN,DIAMOND,TX,12/29/2000 20:00
18219,18219,Garden Grove,NaN,CHEVRON,CA,12/29/2000 20:30
18220,18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18221,18221,Franklin,NaN,DISK,NH,12/29/2000 20:50
18222,18222,Albrightsville,NaN,OTHER,PA,12/29/2000 21:00
18223,18223,Greenville,NaN,NaN,SC,12/29/2000 22:00
18224,18224,Eufaula,NaN,DISK,OK,12/29/2000 23:30
18225,18225,Simi Valley,NaN,FORMATION,CA,12/30/2000 10:00
18226,18226,San Francisco,NaN,FORMATION,CA,12/30/2000 22:00
18227,18227,San Francisco,NaN,TRIANGLE,CA,12/30/2000 22:00
18228,18228,Kingsville,NaN,LIGHT,TX,12/31/2000 4:00
18229,18229,Chicago,NaN,DISK,IL,12/31/2000 11:45
18230,18230,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18231,18231,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18232,18232,Lodi,NaN,NaN,WI,12/31/2000 20:30
18233,18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18234,18234,Capitola,NaN,TRIANGLE,CA,12/31/2000 22:00
18235,18235,Fountain Hills,NaN,NaN,AZ,12/31/2000 23:00
18236,18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [48]:
ufo.reset_index(inplace=True)

ValueError: cannot insert level_0, already exists