In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv('Churn_Modelling.csv')
data = pd.read_csv(r"C:\Users\sunny\Desktop\Census_Oct_2018.csv")


data.head()

,school_id,emiscode,school_name,district,tehsil,markaz,moza,permanent_address,street_name,uc_name,...,total_computer_training_students,internet,ece_room,ece_room_under_construction,ece_equipments,ece_trained_teachers,care_giver,enrollment,Teachers,NonTeachers
0,21007.0,34120175,GPS NO. 7 GAKHAR,GUJRANWALA,WAZIRABAD,GHAKHAR 1 - MALE,Ghakhar,GPS no 7 ghakhar bangla abadi,Ghakhar,Ghakhar 2,...,NaN,0.0,1.0,0.0,0.0,1.0,1.0,197.0,4.0,NaN
1,20997.0,34120163,GES AZIZ CHAK,GUJRANWALA,WAZIRABAD,WAZIRABAD SADAR 1 - MALE,Aziz chak,Aziz chak Teh Wazirabad GRW,Aziz chak,Ghakka mitter,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,385.0,14.0,1.0
2,20985.0,34120146,GPS HARRIAN WALA KHURID,GUJRANWALA,WAZIRABAD,GHAKHAR 1 - MALE,Hairanwsla Khurd,vil hairanwala khurd the wzd dist grw,Hairanwala Khurd,Joura,...,NaN,1.0,1.0,0.0,1.0,1.0,0.0,84.0,4.0,NaN
3,21283.0,34120537,GGPS RUKH SINGH PURA,GUJRANWALA,WAZIRABAD,RASOOL NAGAR 2 - FEMALE,Rukh Sing Pura,"Rukh sing Pura, Tehsil Wazirabad, Distt Gujran...",Rukh Sing pura,Rasool Nagar,...,NaN,1.0,0.0,0.0,0.0,0.0,0.0,90.0,4.0,NaN
4,20963.0,34120105,GPS SOHDRA NO.1,GUJRANWALA,WAZIRABAD,WAZIRABAD SADAR 1 - MALE,NaN,GPS No.1 Sohddra Main Bazar Sohdra,Sohdra,Sohdra,...,NaN,1.0,1.0,0.0,1.0,1.0,1.0,306.0,8.0,NaN

In [3]:
df = pd.get_dummies(df, columns = ['Geography', 'Gender'], drop_first= True)

In [4]:
X = df.drop(columns = ['Exited', 'RowNumber', 'CustomerId','Surname'])
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
5,645,44,8,113755.78,2,1,0,149756.71,0,1,1
6,822,50,7,0.00,2,1,1,10062.80,0,0,1
7,376,29,4,115046.74,4,1,0,119346.88,1,0,0
8,501,44,4,142051.07,2,0,1,74940.50,0,0,1
9,684,27,2,134603.88,1,1,1,71725.73,0,0,1
10,528,31,6,102016.72,2,0,0,80181.12,0,0,1
11,497,24,3,0.00,2,1,0,76390.01,0,1,1
12,476,34,10,0.00,2,1,0,26260.98,0,0,0
13,549,25,5,0.00,2,0,0,190857.79,0,0,0
14,635,35,7,0.00,2,1,1,65951.65,0,1,0
15,616,45,3,143129.41,2,0,1,64327.26,1,0,1
16,653,58,1,132602.88,1,1,0,5097.67,1,0,1
17,549,24,9,0.00,2,1,1,14406.41,0,1,0
18,587,45,6,0.00,1,0,0,158684.81,0,1,1
19,726,24,6,0.00,2,1,1,54724.03,0,0,0
20,732,41,8,0.00,2,1,1,170886.17,0,0,1
21,636,32,8,0.00,2,1,0,138555.46,0,1,0
22,510,38,4,0.00,1,1,0,118913.53,0,1,0
23,669,46,3,0.00,2,0,1,8487.75,0,0,1
24,846,38,5,0.00,1,1,1,187616.16,0,0,0
25,577,25,3,0.00,2,0,1,124508.29,0,0,1
26,756,36,2,136815.64,1,1,1,170041.95,1,0,1
27,571,44,9,0.00,2,0,0,38433.35,0,0,1
28,574,43,3,141349.43,1,1,1,100187.43,1,0,0
29,411,29,0,59697.17,2,1,1,53483.21,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
9970,518,42,7,151027.05,2,1,0,119377.36,0,0,1
9971,833,34,3,144751.81,1,0,0,166472.81,0,0,0
9972,758,26,4,155739.76,1,1,0,171552.02,0,0,1
9973,611,27,7,0.00,2,1,1,157474.10,0,0,1
9974,583,33,7,122531.86,1,1,0,13549.24,0,0,1
9975,610,50,1,113957.01,2,1,0,196526.55,1,0,1
9976,637,33,7,103377.81,1,1,0,84419.78,0,0,0
9977,683,32,9,0.00,2,1,1,24991.92,0,0,0
9978,774,40,9,93017.47,2,1,0,191608.97,0,0,1
9979,677,58,1,90022.85,1,0,1,2988.28,0,0,0
9980,741,35,6,74371.49,1,0,0,99595.67,0,1,1
9981,498,42,3,152039.70,1,1,1,53445.17,1,0,1
9982,655,46,7,137145.12,1,1,0,115146.40,1,0,0
9983,613,40,4,0.00,1,0,0,151325.24,0,0,1
9984,602,35,7,90602.42,2,1,1,51695.41,1,0,1
9985,659,36,6,123841.49,2,1,0,96833.00,0,0,1
9986,673,47,1,183579.54,2,0,1,34047.54,1,0,1
9987,606,30,8,180307.73,2,1,1,1914.41,0,1,1
9988,775,30,4,0.00,2,1,0,49337.84,0,0,1
9989,841,28,4,0.00,2,1,1,179436.60,0,1,1
9990,714,33,3,35016.60,1,1,0,53667.08,1,0,1
9991,597,53,4,88381.21,1,1,0,69384.71,0,0,0
9992,726,36,2,0.00,1,1,0,195192.40,0,1,1
9993,644,28,7,155060.41,1,1,0,29179.52,0,0,1
9994,800,29,2,0.00,2,0,0,167773.55,0,0,0
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [5]:
y = df.iloc[:,-1]
y

0       0
1       0
2       0
3       0
4       0
       ..
9995    1
9996    1
9997    0
9998    1
9999    0
Name: Gender_Male, Length: 10000, dtype: uint8

In [6]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [7]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [8]:
X_train

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [9]:
# Part 2 - Now let's make the ANN!

# Importing the Keras libraries and packages
import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU,PReLU,ELU
from tensorflow.keras.layers import Dropout

Using TensorFlow backend.
C:\Users\sunny\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\sunny\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\sunny\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\sunny\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\sunny\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\sunny\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\sunny\Anaconda3\envs\tensorflow\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\sunny\Anaconda3\envs\tensorflow\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\sunny\Anaconda3\envs\tensorflow\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\sunny\Anaconda3\envs\tensorflow\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\sunny\Anaconda3\envs\tensorflow\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\sunny\Anaconda3\envs\tensorflow\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [10]:
# Initialising the ANN
classifier = Sequential()

In [11]:
# Adding the input layer and the first hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform',activation='relu',input_dim = 11))

In [12]:
# Adding the second hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform',activation='relu'))

In [13]:
# Adding the output layer
classifier.add(Dense(units = 1, kernel_initializer = 'glorot_uniform', activation = 'sigmoid'))

In [14]:
# Compiling the ANN
classifier.compile(optimizer = 'Adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [15]:
# Fitting the ANN to the Training set
model_history=classifier.fit(X_train, y_train,validation_split=0.33, batch_size = 10, nb_epoch = 100)

WARNING: Logging before flag parsing goes to stderr.
W0902 11:13:52.140400 18988 training.py:617] The `nb_epoch` argument in `fit` has been renamed `epochs`.
W0902 11:13:52.283546 18988 deprecation.py:323] From C:\Users\sunny\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\ops\math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

Train on 5359 samples, validate on 2641 samples
Epoch 1/100
5359/5359 [==============================] - 2s 385us/sample - loss: 0.5672 - accuracy: 0.6822 - val_loss: 0.2911 - val_accuracy: 0.9099
Epoch 2/100
5359/5359 [==============================] - 2s 321us/sample - loss: 0.0746 - accuracy: 0.9890 - val_loss: 0.0128 - val_accuracy: 1.0000
Epoch 3/100
5359/5359 [==============================] - 1s 196us/sample - loss: 0.0061 - accuracy: 1.0000 - val_loss: 0.0033 - val_accuracy: 1.0000
Epoch 4/100
5359/5359 [==============================] - 1s 168us/sample - loss: 0.0020 - accuracy: 1.0000 - val_loss: 0.0014 - val_accuracy: 1.0000
Epoch 5/100
5359/5359 [==============================] - 1s 191us/sample - loss: 9.7894e-04 - accuracy: 1.0000 - val_loss: 7.5311e-04 - val_accuracy: 1.0000
Epoch 6/100
5359/5359 [==============================] - 1s 173us/sample - loss: 5.4804e-04 - accuracy: 1.0000 - val_loss: 4.4384e-04 - val_accuracy: 1.0000
Epoch 7/100
5359/5359 [==============================] - 1s 178us/sample - loss: 3.3423e-04 - accuracy: 1.0000 - val_loss: 2.7879e-04 - val_accuracy: 1.0000
Epoch 8/100
5359/5359 [==============================] - 1s 174us/sample - loss: 2.1473e-04 - accuracy: 1.0000 - val_loss: 1.8228e-04 - val_accuracy: 1.0000
Epoch 9/100
5359/5359 [==============================] - 1s 184us/sample - loss: 1.4300e-04 - accuracy: 1.0000 - val_loss: 1.2287e-04 - val_accuracy: 1.0000
Epoch 10/100
5359/5359 [==============================] - 1s 208us/sample - loss: 9.7722e-05 - accuracy: 1.0000 - val_loss: 8.4732e-05 - val_accuracy: 1.0000
Epoch 11/100
5359/5359 [==============================] - 1s 187us/sample - loss: 6.7999e-05 - accuracy: 1.0000 - val_loss: 5.9272e-05 - val_accuracy: 1.0000
Epoch 12/100
5359/5359 [==============================] - 1s 189us/sample - loss: 4.7937e-05 - accuracy: 1.0000 - val_loss: 4.1997e-05 - val_accuracy: 1.0000
Epoch 13/100
5359/5359 [==============================] - 1s 204us/sample - loss: 3.4149e-05 - accuracy: 1.0000 - val_loss: 2.9956e-05 - val_accuracy: 1.0000
Epoch 14/100
5359/5359 [==============================] - 1s 182us/sample - loss: 2.4516e-05 - accuracy: 1.0000 - val_loss: 2.1522e-05 - val_accuracy: 1.0000
Epoch 15/100
5359/5359 [==============================] - 1s 266us/sample - loss: 1.7702e-05 - accuracy: 1.0000 - val_loss: 1.5553e-05 - val_accuracy: 1.0000
Epoch 16/100
5359/5359 [==============================] - 1s 215us/sample - loss: 1.2836e-05 - accuracy: 1.0000 - val_loss: 1.1277e-05 - val_accuracy: 1.0000
Epoch 17/100
5359/5359 [==============================] - 1s 221us/sample - loss: 9.3374e-06 - accuracy: 1.0000 - val_loss: 8.1977e-06 - val_accuracy: 1.0000
Epoch 18/100
5359/5359 [==============================] - 1s 213us/sample - loss: 6.8087e-06 - accuracy: 1.0000 - val_loss: 5.9788e-06 - val_accuracy: 1.0000
Epoch 19/100
5359/5359 [==============================] - 1s 207us/sample - loss: 4.9691e-06 - accuracy: 1.0000 - val_loss: 4.3547e-06 - val_accuracy: 1.0000
Epoch 20/100
5359/5359 [==============================] - 1s 183us/sample - loss: 3.6258e-06 - accuracy: 1.0000 - val_loss: 3.1680e-06 - val_accuracy: 1.0000
Epoch 21/100
5359/5359 [==============================] - 1s 175us/sample - loss: 2.6422e-06 - accuracy: 1.0000 - val_loss: 2.3030e-06 - val_accuracy: 1.0000
Epoch 22/100
5359/5359 [==============================] - 1s 187us/sample - loss: 1.9176e-06 - accuracy: 1.0000 - val_loss: 1.6671e-06 - val_accuracy: 1.0000
Epoch 23/100
5359/5359 [==============================] - 1s 184us/sample - loss: 1.3851e-06 - accuracy: 1.0000 - val_loss: 1.1997e-06 - val_accuracy: 1.0000
Epoch 24/100
5359/5359 [==============================] - 1s 228us/sample - loss: 9.9206e-07 - accuracy: 1.0000 - val_loss: 8.5408e-07 - val_accuracy: 1.0000
Epoch 25/100
5359/5359 [==============================] - 1s 208us/sample - loss: 7.0406e-07 - accuracy: 1.0000 - val_loss: 6.0137e-07 - val_accuracy: 1.0000
Epoch 26/100
5359/5359 [==============================] - 1s 207us/sample - loss: 4.9099e-07 - accuracy: 1.0000 - val_loss: 4.1604e-07 - val_accuracy: 1.0000
Epoch 27/100
5359/5359 [==============================] - 1s 147us/sample - loss: 3.3552e-07 - accuracy: 1.0000 - val_loss: 2.7884e-07 - val_accuracy: 1.0000
Epoch 28/100
5359/5359 [==============================] - 1s 143us/sample - loss: 2.2307e-07 - accuracy: 1.0000 - val_loss: 1.8416e-07 - val_accuracy: 1.0000
Epoch 29/100
5359/5359 [==============================] - 1s 154us/sample - loss: 1.4306e-07 - accuracy: 1.0000 - val_loss: 1.1490e-07 - val_accuracy: 1.0000
Epoch 30/100
5359/5359 [==============================] - 1s 177us/sample - loss: 8.6710e-08 - accuracy: 1.0000 - val_loss: 6.8294e-08 - val_accuracy: 1.0000
Epoch 31/100
5359/5359 [==============================] - 1s 171us/sample - loss: 5.1085e-08 - accuracy: 1.0000 - val_loss: 3.8683e-08 - val_accuracy: 1.0000
Epoch 32/100
5359/5359 [==============================] - 1s 151us/sample - loss: 2.7695e-08 - accuracy: 1.0000 - val_loss: 2.2434e-08 - val_accuracy: 1.0000
Epoch 33/100
5359/5359 [==============================] - 1s 142us/sample - loss: 1.4859e-08 - accuracy: 1.0000 - val_loss: 1.0653e-08 - val_accuracy: 1.0000
Epoch 34/100
5359/5359 [==============================] - 1s 134us/sample - loss: 7.4853e-09 - accuracy: 1.0000 - val_loss: 6.0259e-09 - val_accuracy: 1.0000
Epoch 35/100
5359/5359 [==============================] - 1s 134us/sample - loss: 3.6926e-09 - accuracy: 1.0000 - val_loss: 2.4826e-09 - val_accuracy: 1.0000
Epoch 36/100
5359/5359 [==============================] - 1s 140us/sample - loss: 1.5571e-09 - accuracy: 1.0000 - val_loss: 1.3993e-09 - val_accuracy: 1.0000
Epoch 37/100
5359/5359 [==============================] - 1s 133us/sample - loss: 8.7867e-10 - accuracy: 1.0000 - val_loss: 6.9964e-10 - val_accuracy: 1.0000
Epoch 38/100
5359/5359 [==============================] - 1s 154us/sample - loss: 4.1153e-10 - accuracy: 1.0000 - val_loss: 4.2881e-10 - val_accuracy: 1.0000
Epoch 39/100
5359/5359 [==============================] - 1s 135us/sample - loss: 3.0030e-10 - accuracy: 1.0000 - val_loss: 4.0624e-10 - val_accuracy: 1.0000
Epoch 40/100
5359/5359 [==============================] - 1s 133us/sample - loss: 2.0020e-10 - accuracy: 1.0000 - val_loss: 2.4826e-10 - val_accuracy: 1.0000
Epoch 41/100
5359/5359 [==============================] - 1s 133us/sample - loss: 5.5612e-11 - accuracy: 1.0000 - val_loss: 1.1284e-10 - val_accuracy: 1.0000
Epoch 42/100
5359/5359 [==============================] - 1s 133us/sample - loss: 2.2245e-11 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 43/100
5359/5359 [==============================] - 1s 142us/sample - loss: 2.2245e-11 - accuracy: 1.0000 - val_loss: 4.5138e-11 - val_accuracy: 1.0000
Epoch 44/100
5359/5359 [==============================] - 1s 137us/sample - loss: 2.2245e-11 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 45/100
5359/5359 [==============================] - 1s 133us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 2.2569e-11 - val_accuracy: 1.0000
Epoch 46/100
5359/5359 [==============================] - 1s 133us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 4.5138e-11 - val_accuracy: 1.0000
Epoch 47/100
5359/5359 [==============================] - 1s 133us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 48/100
5359/5359 [==============================] - 1s 135us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 49/100
5359/5359 [==============================] - 1s 134us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 50/100
5359/5359 [==============================] - 1s 139us/sample - loss: 1.1122e-11 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 51/100
5359/5359 [==============================] - 1s 136us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 52/100
5359/5359 [==============================] - 1s 183us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000

Epoch 53/100
5359/5359 [==============================] - 1s 141us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 54/100
5359/5359 [==============================] - 1s 171us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 55/100
5359/5359 [==============================] - 1s 136us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 56/100
5359/5359 [==============================] - 1s 145us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 57/100
5359/5359 [==============================] - 1s 135us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 58/100
5359/5359 [==============================] - 1s 134us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 59/100
5359/5359 [==============================] - 1s 133us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 60/100
5359/5359 [==============================] - 1s 134us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 61/100
5359/5359 [==============================] - 1s 134us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 62/100
5359/5359 [==============================] - 1s 134us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 63/100
5359/5359 [==============================] - 1s 135us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 64/100
5359/5359 [==============================] - 1s 137us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 65/100
5359/5359 [==============================] - 1s 134us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 66/100
5359/5359 [==============================] - 1s 133us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 67/100
5359/5359 [==============================] - 1s 132us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 68/100
5359/5359 [==============================] - 1s 133us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 69/100
5359/5359 [==============================] - 1s 137us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 70/100
5359/5359 [==============================] - 1s 140us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 71/100
5359/5359 [==============================] - 1s 133us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 72/100
5359/5359 [==============================] - 1s 133us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 73/100
5359/5359 [==============================] - 1s 167us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 74/100
5359/5359 [==============================] - 1s 158us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 75/100
5359/5359 [==============================] - 1s 158us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 76/100
5359/5359 [==============================] - 1s 141us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 77/100
5359/5359 [==============================] - 1s 136us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 78/100
5359/5359 [==============================] - 1s 134us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 79/100
5359/5359 [==============================] - 1s 133us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 80/100
5359/5359 [==============================] - 1s 133us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 81/100
5359/5359 [==============================] - 1s 133us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 82/100
5359/5359 [==============================] - 1s 137us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 83/100
5359/5359 [==============================] - 1s 137us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 84/100
5359/5359 [==============================] - 1s 216us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 85/100
5359/5359 [==============================] - 1s 148us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 86/100
5359/5359 [==============================] - 1s 155us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 87/100
5359/5359 [==============================] - 1s 132us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 88/100
5359/5359 [==============================] - 1s 154us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 89/100
5359/5359 [==============================] - 1s 197us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 90/100
5359/5359 [==============================] - 1s 166us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 91/100
5359/5359 [==============================] - 1s 149us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 92/100
5359/5359 [==============================] - 1s 167us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 93/100
5359/5359 [==============================] - 1s 219us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 94/100
5359/5359 [==============================] - 1s 183us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 95/100
5359/5359 [==============================] - 1s 180us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 96/100
5359/5359 [==============================] - 1s 161us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 97/100
5359/5359 [==============================] - 1s 155us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 98/100
5359/5359 [==============================] - 1s 164us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 99/100
5359/5359 [==============================] - 1s 164us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 100/100
5359/5359 [==============================] - 1s 194us/sample - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000

In [16]:
# Part 3 - Making the predictions and evaluating the model

# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [17]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [18]:
cm

array([[ 893,    0],
       [   0, 1107]], dtype=int64)

In [19]:
# Calculate the Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)

In [20]:
score

1.0